<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteCond %{HTTP_HOST} ^cripto4you.net [NC]
  RewriteRule ^(.*)$ https://cripto4you.net/$1 [L,R=301]

# PÁGINAS
  RewriteRule ^entrar/?$ index.php [NC,L]
  RewriteRule ^senha/?$ senha.php [NC,L]
  RewriteRule ^meu-perfil/?$ meu-perfil.php [NC,L]
  RewriteRule ^dashboard/?$ dashboard.php [NC,L]
  RewriteRule ^recupera-codigo/?$ recupera-codigo.php [NC,L]

# SITE
  RewriteRule ^noticias/?$ pages/site/noticias.php [NC,L]
  RewriteRule ^noticia-editar/?$ pages/site/noticia-editar.php [NC,L]
  RewriteRule ^contato-seo/?$ pages/site/contato-seo.php [NC,L]

  # BROKER
  RewriteRule ^clientes/?$ pages/broker/clientes.php [NC,L]
  RewriteRule ^clientes-visulizar/?$ pages/broker/visualizar-editar.php [NC,L]
  RewriteRule ^clientes-editar/?$ pages/broker/clientes-editar.php [NC,L]
  RewriteRule ^clientes-movimentacao/?$ pages/broker/clientes-movimentacao.php [NC,L]
  RewriteRule ^meu-investimento/?$ pages/broker/meu-investimento.php [NC,L]


# INCLUDES
  RewriteRule ^sair/?$ includes/logout.php [NC,L]
  RewriteRule ^valida/?$ includes/validation.php [NC,L]


</IfModule>


